
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
    height: 100vh;
    display: flex;
}

#slider-container{
    width: 500px;
    height: 300px;
    position: relative;
    display: flex;
    margin: auto;   
}

.slider-images{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

.slide{
    position: absolute;
    opacity: 0;
    transition: opacity .4s linear; 
}

.active{
    opacity: 1;
}

.fa-solid{
    position: absolute;
    bottom: 135px;
    font-size: 20px;
    color: white;
    opacity: .7;
}

.fa-solid:hover{
    opacity: 1;
    cursor: pointer;
}

.fa-angles-left{
    left: 10px;
}

.fa-angles-right{
    right: 10px;
}

